# ===============================
# Environment variables (SECRET)
# ===============================
.env
.env.*


Python cache
__pycache__/
*.pyc




# ===============================
# Virtual environment
# ===============================
venv/
.venv/

# ===============================
# Raw NFT datasets (BIG FILES)
# ===============================
data/raw/
data/processed/

# ===============================
# Generated embeddings & indexes
# ===============================
embeddings/
vector_db/
models/
# ===============================
# Model outputs / weights
# ===============================
models/finetuned/

# ===============================
# Python cache
# ===============================
__pycache__/
*.pyc
*.pyo

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Editor / OS junk
# ===============================
.vscode/
.idea/
.DS_Store
Thumbs.db
